/*
 * @Description: 首页样式
 * @Version: 0.1
 * @Author: BlackTree
 * @Date: 2018-12-21 16:08:20
 * @LastEditors: BlackTree
 * @LastEditTime: 2018-12-21 16:24:03
 */

 $title-color: #a1afc9;
$item-color:#2e4e7e;

 main {
     height: 45rem;
    background-color: #f2ecde;
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 2rem 2rem 0 0;
    h1 {
        text-align: center;
    }
    h2{
        color: $title-color;
        background-color: $item-color;
        padding: 0.5rem;
        margin: 0.5rem;
    }
    ul {
        font-size: 1.4rem;
        a {
            text-decoration: none;
            color: $item-color;
        }
    }
}

#left {
    float: left;
    width: 50%;
}

#right {
    float: left;
    width: 50%;
}