@charset "UTF-8";
/*
 * @Description: 首页样式
 * @Version: 0.1
 * @Author: BlackTree
 * @Date: 2018-12-21 16:08:20
 * @LastEditors: BlackTree
 * @LastEditTime: 2018-12-21 16:24:03
 */
main {
  height: 45rem;
  background-color: #f2ecde;
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 2rem 2rem 0 0;
}

main h1 {
  text-align: center;
}

main h2 {
  color: #a1afc9;
  background-color: #2e4e7e;
  padding: 0.5rem;
  margin: 0.5rem;
}

main ul {
  font-size: 1.4rem;
}

main ul a {
  text-decoration: none;
  color: #2e4e7e;
}

#left {
  float: left;
  width: 50%;
}

#right {
  float: left;
  width: 50%;
}
/*# sourceMappingURL=index.css.map */