@charset "UTF-8";
/*
 * @Description: 可复用的样式
 * @Version: 0.1
 * @Author: BlackTree
 * @Date: 2018-12-21 16:08:08
 * @LastEditors: BlackTree
 * @LastEditTime: 2018-12-21 16:09:21
 */
body {
  font-size: 62.5%;
  background: url(/static/darkness.png);
}

ul, li {
  list-style: none;
}
/*# sourceMappingURL=master.css.map */